<footer class = "container-fluid" id="footer">
 
    <small class="center">
      Copyright &copy; Aslan Blog by <a href ="https://www.skreenweb.com">Skreenweb</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path  %></li>
      </ul>
    
    </nav>
    
  </footer>
  
</div>